<h3 class="text-center bg-warning">Home Page</h3>
<div class="container">
    
    <p>
        A home page is generally the primary web page which a visitor navigating to a website from a search engine will see, and it may also serve as a landing page to attract visitors.[1][2] Thus good home page design is usually a high priority for a website.[3] For example, a news website may present headlines and first paragraphs of top stories, with links to full articles.[4] Usually, the home page is located at the root of the website's domain or subdomain. For example, if the domain is example.com, the home page is likely located at www.example.com/.
    </p>
</div>
