<div>
    <h3 class="font-weight-bold">Array Display Using *ngIf</h3>
    <ul>
        <h5 ><li [ngClass]="{'bg-success':arrayData[0]===10}">{{arrayData[0]}}</li></h5>
        <h5 ><li [ngClass]="{'bg-danger':arrayData[1]===20}">{{arrayData[1]}}</li></h5>
        <h5 ><li [ngClass]="{'bg-warning':arrayData[2]===30}">{{arrayData[2]}}</li></h5>
        <h5 ><li [ngClass]="{'bg-secondary':arrayData[3]===40}">{{arrayData[3]}}</li></h5>
        <h5 ><li [ngClass]="{'bg-info':arrayData[4]===50}">{{arrayData[4]}}</li></h5>
    </ul>
        
</div>
