<div>
    <h2 class="font-weight-bold text-white text-center bg-success">Interface</h2>

    <button class="btn btn-primary text-white" (click)="onSubmit()">Submit</button>
    <div class="font-weight-bold">
           <h3>Name of Person:{{arrEmp.contactName}}</h3>
           <br> 
           <h3>Address of Person:{{arrEmp.contactAddress}}</h3> 
           <br>
           <h3>Phone Number:{{arrEmp.contactPhone}}</h3>
           <br>
           <h3>Area Name is:{{arrEmp.contactArea}}</h3> 
    </div>
    
</div>
