<div class="container">
    <h2 class="font-weight-bold text-white bg-warning text-center">Colour Code System</h2>

</div>
<div class="text-center">

    <h3 class="font-weight-bold">Colour Code::{{colType}}</h3>
    <button class="btn btn-primary text-white"   (click)=" onColor('c1')">Blue</button>
    <button class="btn btn-secondary text-white" (click)=" onColor('c2')">Grey</button>
    <button class="btn btn-warning text-white"   (click)=" onColor('c3')">Yellow</button>
    <button class="btn btn-success text-white"   (click)=" onColor('c4')">Green</button>
    <button class="btn btn-danger text-white"    (click)=" onColor('c5')">Red</button>
    <button class="btn btn-light text-dark"      (click)=" onColor('')">None</button>
</div>
